{% extends "layout.html" %} {% block content %}

<div class="container-2">
    <h1>you need a password to continue!</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
            type="password"
            name="password"
            id="password"
            placeholder="enter paste password"
            required
        />
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <button type="submit">unlock</button>
    </form>
</div>
{% endblock %}
