{% extends "layout.html" %} {% block content %}

<div class="container-2">
    <p>
        this is where you can add a password to your paste, incase you don't
        want prying eyes!
        <b>this can always be removed or added at any time.</b>
    </p>
    <p>
        please note the password is stored in your session. you'll have to clear
        your cache if you want to test it!
    </p>
    <br />
    <form
        method="post"
        action="{{ url_for('update_paste_password', paste_id=paste.id) }}"
    >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
            type="password"
            name="new_password"
            id="new_password"
            placeholder="enter paste password"
            required
        />
        <button class="btn" type="submit">add paste password</button>
    </form>

    <form
        method="post"
        action="{{ url_for('remove_paste_password', paste_id=paste.id) }}"
        style="margin-top: 10px"
    >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn" type="submit">remove paste password</button>
    </form>
</div>
{% endblock %}
