{% extends "layout.html" %} {% block content %}

<head>
    {% if paste.meta_description %}
    <meta name="description" content="{{ paste.meta_description }}" />
    {% else %}
    <meta
        property="og:description"
        content="{{ paste.content|truncate(150) }}"
    />
    {% endif %} {% if paste.favicon_url %}
    <link
        rel="icon"
        href="{{ paste.favicon_url or url_for('static', filename='favicon.ico') }}"
    />
    {% endif %}
    <meta property="og:image" content="{{ paste.meta_image }}" />
    {% if paste.theme_color %}
    <meta name="theme-color" content="{{ paste.theme_color }}" />
    {% endif %}
    <title>
        {% block title %} {% if paste.page_title %} {{ paste.page_title }} {%
        else %} {{ paste.id }} {% endif %} {% endblock %}
    </title>
</head>
<div id="content">
    <div class="full-container-1">
        <div class="container-1">
            <div class="paste-content">{{ safe_content|safe }}</div>
        </div>

        <div style="display: flex; justify-content: space-between">
            <div>
            <a href="#" onclick="editPaste(event, '{{ paste.id }}')"
                ><button class="btn">edit</button></a
            >
            {% if current_user.id == paste.user_id or current_user.id ==
            is_admin %}
            <a
                href="{{ url_for('transfer_ownership', paste_id=paste.id) }}"
                onclick="transferOwnership(event, '{{ paste.id }}')"
                ><button class="btn">transfer</button></a
            >
            {% endif %}
</div>
            <div class="paste-stats">
                <p>
                    {% if published_at %} published on: {{
                    published_at.strftime("%Y-%m-%d %H:%M") }} UTC {% else %}
                    none {% endif %}
                </p>
                {% if last_edited_at %}
                <p>
                    last edited: {{ last_edited_at.strftime("%Y-%m-%d %H:%M") }}
                    UTC
                </p>
                {% else %}
                <p>
                    last edited: {{ published_at.strftime("%Y-%m-%d %H:%M") }}
                    UTC
                </p>
                {% endif %}
                <p>owner: {{ paste.user.username }}</p>
                <p>views: {{ paste.views }}</p>
            </div>
        </div>
    </div>
</div>

<div
    id="popup"
    style="
        display: none;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        padding: 20px;
    "
>
    <spanid="popup-message"></span>
    <br /><br /><br />
    <button class="btn" onclick="hidePopup()">close</button>
</div>

<script>

    function showPopup(message) {
        document.getElementById("popup-message").innerText = message;
        document.getElementById("popup").style.display = "block";
        document.getElementById("content").classList.add("blur");
    }

    function hidePopup() {
        document.getElementById("popup").style.display = "none";
        document.getElementById("content").classList.remove("blur");
    }

    function editPaste(event, pasteId) {
        event.preventDefault();

        const loggedIn = {{ 'true' if logged_in else 'false' }};

        if (loggedIn) {
            window.location.href = `/${pasteId}/edit`;
        } else {
            showPopup("ah ah ah you gotta log in");
        }
    }
</script>
{% endblock %}
