:root {
    --color-background-start: #fefefe;
    --color-background-end: #e0e0e0;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-button-gradient-start: #e0e0e0;
    --color-button-gradient-end: #c0c0c0;
    --color-hover-start: #d0d0d0;
    --color-hover-end: #a0a0a0;
    --color-input-background: #fff;
    --color-container-start: #fefefe;
    --color-container-end: #e0e0e0;
    --color-border: #999;
    --color-shadow-light: rgba(255, 255, 255, 0.6);
    --color-shadow-dark: rgba(0, 0, 0, 0.2);
    --color-dropdown-shadow: rgba(0, 0, 0, 0.2);
    --color-icon: #454545;
    --link-visited: #800080;
    --link-active: #233cfa;
    --color-hover-danger-top: #ff9c91;
    --color-hover-danger-bottom: #ad564c;
    --color-danger-top: #d95648;
    --color-danger-bottom: #802e25;
    --color-danger-border: #571d17;
    --color-danger-text: #fff;
    --color-span: #d9d9d9;
}

:root[data-theme="dark"] {
    --color-background-start: #1e1e1e;
    --color-background-end: #2c2c2c;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --color-button-gradient-start: #444;
    --color-button-gradient-end: #222;
    --color-hover-start: #555;
    --color-hover-end: #333;
    --color-input-background: #222;
    --color-container-start: #2c2c2c;
    --color-container-end: #1e1e1e;
    --color-border: #555;
    --color-shadow-light: rgba(255, 255, 255, 0.2);
    --color-shadow-dark: : rgba(0, 0, 0, 0.5);
    --color-box-shadow: rgba(0, 0, 0, 0.7);
    --color-icon: #f0f0f0;
    --link-visited: #d555e6;
    --link-active: #59cdff;
    --color-hover-danger-top: #ff9c91;
    --color-hover-danger-bottom: #ad564c;
    --color-danger-top: #d95648;
    --color-danger-bottom: #802e25;
    --color-danger-border: #571d17;
    --color-danger-text: #fff;
    --color-span: #4a4a4a;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: var(--link-active);
}

a:visited {
    color: var(--link-visited);
}

body {
    color: var(--color-icon);
    padding: 15px;
    background-color: var(--color-background-end);
}

.container-1 {
    background: linear-gradient(
        to bottom,
        var(--color-container-start),
        var(--color-container-end)
    );
    border: 1px solid var(--color-border);
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
    padding: 20px;
    border-radius: 8px;
    font-family: "Times New Roman", serif;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    line-height: 1.6rem;
}

.container-2 {
    background: linear-gradient(
        to bottom,
        var(--color-container-start),
        var(--color-container-end)
    );
    border: 1px solid var(--color-border);
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
    padding: 20px;
    border-radius: 8px;
    font-family: "Times New Roman", serif;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    line-height: 1.6rem;
}

.container-3 {
    padding: 20px;
    border-radius: 8px;
    font-family: "Times New Roman", serif;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    line-height: 1.6rem;
}

textarea {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background: var(--color-input-background);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Times New Roman", serif;
    font-size: 16px;
    resize: vertical;
    display: block;
    color: var(--color-icon);
    box-sizing: border-box;
}

.btn {
    background: linear-gradient(
        to bottom,
        var(--color-button-gradient-start),
        var(--color-button-gradient-end)
    );
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
    padding: 7px 18px;
    font-family: "Times New Roman", serif;
    color: var(--color-icon);
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background: linear-gradient(
        to bottom,
        var(--color-hover-start),
        var(--color-hover-end)
    );
    box-shadow:
        inset 0 1px 0 #fff,
        0 4px 8px rgba(0, 0, 0, 0.3);
}

input {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 8px;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    width: calc(100% - 20px);
    background-color: var(--color-input-background);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-height: 40px;
    max-width: 300px;
    color: var(--color-icon);
}

#popup {
    font-family: "Times New Roman", serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background: linear-gradient(
        to bottom,
        var(--color-container-start),
        var(--color-container-end)
    );
    padding: 20px;
    border: 1px solid var(--color-border);
    text-align: center;
    max-width: 200px;
}

#popup button {
    margin-top: 5px;
    background: linear-gradient(
        to bottom,
        var(--color-hover-start),
        var(--color-hover-end)
    );
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#popup button:hover {
    background: linear-gradient(to bottom, #c0c0c0, #808080);
}

#content.blur {
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(
        to bottom,
        var(--color-container-start),
        var(--color-container-end)
    );
    border: 1px solid var(--color-border);
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
    padding: 10px 0;
    border-radius: 8px;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-icon);
    font-family: "Times New Roman", serif;
}

.dropdown-content a:hover {
    background: linear-gradient(to bottom, #d0d0d0, #a0a0a0);
}

#dropbtn svg,
#theme-toggle svg {
    color: var(--color-icon);
}

#hr-2 {
    border-top: 1px solid var(--color-border);
    margin: 10px 0;
}

.new-paste-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#pfp {
    height: auto;
    width: 100%;
    max-width: 700px;
    max-height: 700px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid var(--color-border);
}

#profile-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

#profile-flex-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bio {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 250px;
    overflow-y: auto;
}

#name {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

span {
    background-color: var(--color-span);
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5 {
    padding-bottom: 10px;
}

.badges-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.badge-containment {
    display: flex;
}

@media (max-width: 568px) {
    #profile-flex {
        flex-direction: column;
    }

    #pfp {
        max-width: 100%;
        max-height: 100%;
    }

    .badges-container {
        margin-bottom: 20px;
    }
}

.paste-card {
    border: 1px solid var(--color-border);
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
    padding: 15px;
    border-radius: 8px;
    min-width: 200px;
    z-index: 1;
    margin-top: 10px;
}

.paste-link,
.paste-link:visited {
    display: block;
    text-decoration: none;
    color: var(--color-icon);
    font-size: 1.3rem;
    font-family: "Times New Roman", serif;
}

.paste-card:hover {
    background: linear-gradient(to bottom, #d0d0d0, #a0a0a0);
}

.paste-card span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}

.paste-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: left;
    align-items: flex-end;
    line-height: 0.8rem;
}

.paste-stats p {
    margin: 0;
}

.paste-stats p:last-child {
    margin-bottom: 10px;
}

.full-container-1 {
    margin: 0 auto;
    max-width: 1000px;
}

.full-container-2 {
    margin: 0 auto;
    max-width: 600px;
}

#login-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-register input {
    width: 100%;
    max-width: 600px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}
th,
td {
    border: 1px solid var(--color-border);
    padding: 8px 12px;
    text-align: left;
}
th {
    background: linear-gradient(
        to bottom,
        var(--color-container-start),
        var(--color-container-end)
    );
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
}

.pagination {
    text-align: center;
    margin: 20px;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid var(--color-border);
    color: var(--color-icon);
}
.pagination a.disabled {
    color: var(--color-border);
    pointer-events: none;
}

.flexy-wexy {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.meta {
    display: flex;
    gap: 10px;
    padding: 8px;
    width: 100%;
    justify-content: space-between;
}

.meta-content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meta-content input {
    width: 100%;
    max-width: 600px;
}

.meta-content textarea {
    height: 100%;
    min-height: 80px;
}

.btn-danger {
    background: linear-gradient(
        to bottom,
        var(--color-danger-top),
        var(--color-danger-bottom)
    );
    color: var(--color-danger-text);
    border-color: var(--color-danger-border);
    box-shadow:
        inset 0 2px 4px var(--color-shadow-light),
        inset 0 -2px 4px var(--color-shadow-dark),
        2px 2px 5px var(--color-box-shadow);
}

.btn-danger:hover {
    background: linear-gradient(
        to bottom,
        var(--color-hover-danger-top),
        var(--color-hover-danger-bottom)
    );
    box-shadow:
        inset 0 1px 0 #fff,
        0 4px 8px rgba(0, 0, 0, 0.3);
}
