{% extends "layout.html" %} {% block content %}

<head>
    <meta
        property="og:description"
        content="miaw.cc - a lightweight social pastebin"
    />
</head>

<div class="container-2">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post">
        <div id="login-register">
            <div>
                <input type="text" name="username" placeholder="username" />
            </div>
            <div>
                <input type="password" name="password" placeholder="password" />
            </div>
            <div>
                <input
                    type="text"
                    name="invite_code"
                    placeholder="invite code"
                    required
                />
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button style="margin-top: 10px" class="btn" type="submit">
            register
        </button>
    </form>
</div>
{% endblock %}
