{% extends "layout.html" %} {% block content %}
<div class="full-container-1">
    <div class="container-1">
        <div class="paste-content">{{ safe_content|safe }}</div>
    </div>

    <div style="display: flex; justify-content: space-between">
        <a href="{{ url_for('edit_paste', paste_id=paste.id) }}"
            ><button class="btn">edit this paste</button></a
        >

        <div class="paste-stats">
            <p>
                published on: {{ published_at.strftime("%Y-%m-%d %H:%M") }} UTC
            </p>
            {% if last_edited_at %}
            <p>
                last edited: {{ last_edited_at.strftime("%Y-%m-%d %H:%M") }} UTC
            </p>
            {% else %}
            <p>
                last edited: {{ published_at.strftime("%Y-%m-%d %H:%M") }} UTC
            </p>
            {% endif %}
            <p>owner: {{ paste.user.username }}</p>
            <p>views: {{ paste.views }}</p>
        </div>
    </div>
</div>
{% endblock %}
